
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta charset="utf-8">
    <title>Rijwielhandel Oud-West</title>
    <meta name="description"
        content="Rijwielhandel Oud-West is het adres in Amsterdam voor de inkoop, verkoop en reparatie van uw fiets. U kunt bij ons ook uw motor, scooter en fiets stallen.">
    <meta property="og:title" content="Rijwielhandel Oud-West">
    <meta property="og:description"
        content="Rijwielhandel Oud-West is het adres in Amsterdam voor de inkoop, verkoop en reparatie van uw fiets. U kunt bij ons ook uw motor, scooter en fiets stallen.">
    <meta name="twitter:card" content="summary">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Core Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="/css/responsive/responsive.css" rel="stylesheet">
