<!-- ***** Header Area Start ***** -->

    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 h-100">
                <nav class="h-100 navbar navbar-expand-lg align-items-center">
                    <a class="navbar-brand" href="index.html">Rijwielhandel
                        Oud-West</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#oudwestNav"
                        aria-controls="oudwestNav" aria-expanded="false" aria-label="Toggle navigation"><span
                            class="ti-menu"></span></button>
                    <div class="collapse navbar-collapse" id="oudwestNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/index.html">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#overons">Rijwielhandel Oud-West</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#reparaties">Reparaties</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#inkoop">Inkoop & Verkoop</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#stalling">Stalling</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#locatie">Openingstijden & Contact </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->
